# Configuration du serveur
PORT=3000

# Connexion MongoDB (NE JAMAIS PARTAGER CE FICHIER)
# Remplacez la valeur ci-dessous par votre lien MongoDB Atlas
mongodb+srv://ricardobankole530_db_user:UGvPRsOUiylY7Dem@cluster0.vpdh6oa.mongodb.net/?appName=Cluster0
